<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
    </array>
    <key>public.kern1.FP</key>
    <array>
      <string>F</string>
      <string>P</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern1.VWY</key>
    <array>
      <string>V</string>
      <string>W</string>
      <string>Y</string>
    </array>
    <key>public.kern1.quote</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
    </array>
    <key>public.kern1.y</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>y</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern2.VWY</key>
    <array>
      <string>V</string>
      <string>W</string>
      <string>Y</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>g</string>
      <string>o</string>
      <string>q</string>
      <string>s</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
  </dict>
</plist>
