<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Cdotaccent</key>
    <string>C_dotaccent.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Dcaron</key>
    <string>D_caron.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecaron</key>
    <string>E_caron.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Edotaccent</key>
    <string>E_dotaccent.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Gbreve</key>
    <string>G_breve.glif</string>
    <key>Gcaron</key>
    <string>G_caron.glif</string>
    <key>Gcedilla</key>
    <string>G_cedilla.glif</string>
    <key>Gdotaccent</key>
    <string>G_dotaccent.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.wide1</key>
    <string>I_.wide1.glif</string>
    <key>I.wide2</key>
    <string>I_.wide2.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Kcedilla</key>
    <string>K_cedilla.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lacute</key>
    <string>L_acute.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Lcedilla</key>
    <string>L_cedilla.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.narrow1</key>
    <string>M_.narrow1.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Nacute</key>
    <string>N_acute.glif</string>
    <key>Ncaron</key>
    <string>N_caron.glif</string>
    <key>Ncedilla</key>
    <string>N_cedilla.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Odblacute</key>
    <string>O_dblacute.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Racute</key>
    <string>R_acute.glif</string>
    <key>Rcaron</key>
    <string>R_caron.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>Scommaaccent</key>
    <string>S_commaaccent.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Tcaron</key>
    <string>T_caron.glif</string>
    <key>Tcommaaccent</key>
    <string>T_commaaccent.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udblacute</key>
    <string>U_dblacute.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>Uring</key>
    <string>U_ring.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>W.narrow1</key>
    <string>W_.narrow1.glif</string>
    <key>Wacute</key>
    <string>W_acute.glif</string>
    <key>Wcircumflex</key>
    <string>W_circumflex.glif</string>
    <key>Wdieresis</key>
    <string>W_dieresis.glif</string>
    <key>Wgrave</key>
    <string>W_grave.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Ycircumflex</key>
    <string>Y_circumflex.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Ygrave</key>
    <string>Y_grave.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Zcacute</key>
    <string>Z_cacute.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>Zdotaccent</key>
    <string>Z_dotaccent.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>abreve</key>
    <string>abreve.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>amacron</key>
    <string>amacron.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>ampersand.narrow1</key>
    <string>ampersand.narrow1.glif</string>
    <key>ampersandampersand</key>
    <string>ampersandampersand.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>arrowdblright</key>
    <string>arrowdblright.glif</string>
    <key>arrowleft_eq</key>
    <string>arrowleft_eq.glif</string>
    <key>arrowleftright</key>
    <string>arrowleftright.glif</string>
    <key>arrowright_eq</key>
    <string>arrowright_eq.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>asteriskasterisk</key>
    <string>asteriskasterisk.glif</string>
    <key>asteriskslash</key>
    <string>asteriskslash.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>at.narrow1</key>
    <string>at.narrow1.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>backslash.wide1</key>
    <string>backslash.wide1.glif</string>
    <key>backslash.wide2</key>
    <string>backslash.wide2.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>bar.wide1</key>
    <string>bar.wide1.glif</string>
    <key>bar.wide2</key>
    <string>bar.wide2.glif</string>
    <key>bar_greater</key>
    <string>bar_greater.glif</string>
    <key>barbar</key>
    <string>barbar.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceleft.wide1</key>
    <string>braceleft.wide1.glif</string>
    <key>braceleft.wide2</key>
    <string>braceleft.wide2.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>braceright.wide1</key>
    <string>braceright.wide1.glif</string>
    <key>braceright.wide2</key>
    <string>braceright.wide2.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketleft.wide1</key>
    <string>bracketleft.wide1.glif</string>
    <key>bracketleft.wide2</key>
    <string>bracketleft.wide2.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>bracketright.wide1</key>
    <string>bracketright.wide1.glif</string>
    <key>bracketright.wide2</key>
    <string>bracketright.wide2.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cacute</key>
    <string>cacute.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>ccaron</key>
    <string>ccaron.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>cdotaccent</key>
    <string>cdotaccent.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>colon.wide1</key>
    <string>colon.wide1.glif</string>
    <key>colon.wide2</key>
    <string>colon.wide2.glif</string>
    <key>coloncolon</key>
    <string>coloncolon.glif</string>
    <key>coloncolon_eq</key>
    <string>coloncolon_eq.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>comma.wide1</key>
    <string>comma.wide1.glif</string>
    <key>comma.wide2</key>
    <string>comma.wide2.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecaron</key>
    <string>ecaron.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>edotaccent</key>
    <string>edotaccent.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>equal_equal</key>
    <string>equal_equal.glif</string>
    <key>equal_strict</key>
    <string>equal_strict.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclam.wide1</key>
    <string>exclam.wide1.glif</string>
    <key>exclam.wide2</key>
    <string>exclam.wide2.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.wide1</key>
    <string>f.wide1.glif</string>
    <key>f.wide2</key>
    <string>f.wide2.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gbreve</key>
    <string>gbreve.glif</string>
    <key>gcedilla</key>
    <string>gcedilla.glif</string>
    <key>gdotaccent</key>
    <string>gdotaccent.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>grave.wide1</key>
    <string>grave.wide1.glif</string>
    <key>grave.wide2</key>
    <string>grave.wide2.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greaterequal_lig</key>
    <string>greaterequal_lig.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphen.nolig</key>
    <string>hyphen.nolig.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.wide1</key>
    <string>i.wide1.glif</string>
    <key>i.wide2</key>
    <string>i.wide2.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>j.wide1</key>
    <string>j.wide1.glif</string>
    <key>j.wide2</key>
    <string>j.wide2.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kcedilla</key>
    <string>kcedilla.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.wide1</key>
    <string>l.wide1.glif</string>
    <key>l.wide2</key>
    <string>l.wide2.glif</string>
    <key>lacute</key>
    <string>lacute.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>lcedilla</key>
    <string>lcedilla.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>less_bar</key>
    <string>less_bar.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.narrow1</key>
    <string>m.narrow1.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nacute</key>
    <string>nacute.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>ncaron</key>
    <string>ncaron.glif</string>
    <key>ncedilla</key>
    <string>ncedilla.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>notequal_strict</key>
    <string>notequal_strict.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>odblacute</key>
    <string>odblacute.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.wide1</key>
    <string>one.wide1.glif</string>
    <key>one.wide2</key>
    <string>one.wide2.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenleft.wide1</key>
    <string>parenleft.wide1.glif</string>
    <key>parenleft.wide2</key>
    <string>parenleft.wide2.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>parenright.wide1</key>
    <string>parenright.wide1.glif</string>
    <key>parenright.wide2</key>
    <string>parenright.wide2.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>percent.narrow1</key>
    <string>percent.narrow1.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>period.wide1</key>
    <string>period.wide1.glif</string>
    <key>period.wide2</key>
    <string>period.wide2.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedbl.wide1</key>
    <string>quotedbl.wide1.glif</string>
    <key>quotedbl.wide2</key>
    <string>quotedbl.wide2.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>quotesingle.wide1</key>
    <string>quotesingle.wide1.glif</string>
    <key>quotesingle.wide2</key>
    <string>quotesingle.wide2.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.wide1</key>
    <string>r.wide1.glif</string>
    <key>r.wide2</key>
    <string>r.wide2.glif</string>
    <key>racute</key>
    <string>racute.glif</string>
    <key>rcaron</key>
    <string>rcaron.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>rupee</key>
    <string>rupee.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>sacute</key>
    <string>sacute.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
    <key>scommaaccent</key>
    <string>scommaaccent.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>semicolon.wide1</key>
    <string>semicolon.wide1.glif</string>
    <key>semicolon.wide2</key>
    <string>semicolon.wide2.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>slash.wide1</key>
    <string>slash.wide1.glif</string>
    <key>slash.wide2</key>
    <string>slash.wide2.glif</string>
    <key>slashasterisk</key>
    <string>slashasterisk.glif</string>
    <key>slashslash</key>
    <string>slashslash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.wide1</key>
    <string>t.wide1.glif</string>
    <key>t.wide2</key>
    <string>t.wide2.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>tcommaaccent</key>
    <string>tcommaaccent.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udblacute</key>
    <string>udblacute.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>umacron</key>
    <string>umacron.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uni0237</key>
    <string>uni0237.glif</string>
    <key>uni1E9E</key>
    <string>uni1E_9E_.glif</string>
    <key>uni2190</key>
    <string>uni2190.glif</string>
    <key>uni2191</key>
    <string>uni2191.glif</string>
    <key>uni2192</key>
    <string>uni2192.glif</string>
    <key>uni2193</key>
    <string>uni2193.glif</string>
    <key>uni2194</key>
    <string>uni2194.glif</string>
    <key>uni2195</key>
    <string>uni2195.glif</string>
    <key>uni21D0</key>
    <string>uni21D_0.glif</string>
    <key>uni21D2</key>
    <string>uni21D_2.glif</string>
    <key>uni21D4</key>
    <string>uni21D_4.glif</string>
    <key>uni2500</key>
    <string>uni2500.glif</string>
    <key>uni2501</key>
    <string>uni2501.glif</string>
    <key>uni2502</key>
    <string>uni2502.glif</string>
    <key>uni2503</key>
    <string>uni2503.glif</string>
    <key>uni250C</key>
    <string>uni250C_.glif</string>
    <key>uni250D</key>
    <string>uni250D_.glif</string>
    <key>uni250E</key>
    <string>uni250E_.glif</string>
    <key>uni250F</key>
    <string>uni250F_.glif</string>
    <key>uni2510</key>
    <string>uni2510.glif</string>
    <key>uni2511</key>
    <string>uni2511.glif</string>
    <key>uni2512</key>
    <string>uni2512.glif</string>
    <key>uni2513</key>
    <string>uni2513.glif</string>
    <key>uni2514</key>
    <string>uni2514.glif</string>
    <key>uni2515</key>
    <string>uni2515.glif</string>
    <key>uni2516</key>
    <string>uni2516.glif</string>
    <key>uni2517</key>
    <string>uni2517.glif</string>
    <key>uni2518</key>
    <string>uni2518.glif</string>
    <key>uni2519</key>
    <string>uni2519.glif</string>
    <key>uni251A</key>
    <string>uni251A_.glif</string>
    <key>uni251B</key>
    <string>uni251B_.glif</string>
    <key>uni251C</key>
    <string>uni251C_.glif</string>
    <key>uni251D</key>
    <string>uni251D_.glif</string>
    <key>uni251E</key>
    <string>uni251E_.glif</string>
    <key>uni251F</key>
    <string>uni251F_.glif</string>
    <key>uni2520</key>
    <string>uni2520.glif</string>
    <key>uni2521</key>
    <string>uni2521.glif</string>
    <key>uni2522</key>
    <string>uni2522.glif</string>
    <key>uni2523</key>
    <string>uni2523.glif</string>
    <key>uni2524</key>
    <string>uni2524.glif</string>
    <key>uni2525</key>
    <string>uni2525.glif</string>
    <key>uni2526</key>
    <string>uni2526.glif</string>
    <key>uni2527</key>
    <string>uni2527.glif</string>
    <key>uni2528</key>
    <string>uni2528.glif</string>
    <key>uni2529</key>
    <string>uni2529.glif</string>
    <key>uni252A</key>
    <string>uni252A_.glif</string>
    <key>uni252B</key>
    <string>uni252B_.glif</string>
    <key>uni252C</key>
    <string>uni252C_.glif</string>
    <key>uni252D</key>
    <string>uni252D_.glif</string>
    <key>uni252E</key>
    <string>uni252E_.glif</string>
    <key>uni252F</key>
    <string>uni252F_.glif</string>
    <key>uni2530</key>
    <string>uni2530.glif</string>
    <key>uni2531</key>
    <string>uni2531.glif</string>
    <key>uni2532</key>
    <string>uni2532.glif</string>
    <key>uni2533</key>
    <string>uni2533.glif</string>
    <key>uni2534</key>
    <string>uni2534.glif</string>
    <key>uni2535</key>
    <string>uni2535.glif</string>
    <key>uni2536</key>
    <string>uni2536.glif</string>
    <key>uni2537</key>
    <string>uni2537.glif</string>
    <key>uni2538</key>
    <string>uni2538.glif</string>
    <key>uni2539</key>
    <string>uni2539.glif</string>
    <key>uni253A</key>
    <string>uni253A_.glif</string>
    <key>uni253B</key>
    <string>uni253B_.glif</string>
    <key>uni253C</key>
    <string>uni253C_.glif</string>
    <key>uni253D</key>
    <string>uni253D_.glif</string>
    <key>uni253E</key>
    <string>uni253E_.glif</string>
    <key>uni253F</key>
    <string>uni253F_.glif</string>
    <key>uni2540</key>
    <string>uni2540.glif</string>
    <key>uni2541</key>
    <string>uni2541.glif</string>
    <key>uni2542</key>
    <string>uni2542.glif</string>
    <key>uni2543</key>
    <string>uni2543.glif</string>
    <key>uni2544</key>
    <string>uni2544.glif</string>
    <key>uni2545</key>
    <string>uni2545.glif</string>
    <key>uni2546</key>
    <string>uni2546.glif</string>
    <key>uni2547</key>
    <string>uni2547.glif</string>
    <key>uni2548</key>
    <string>uni2548.glif</string>
    <key>uni2549</key>
    <string>uni2549.glif</string>
    <key>uni254A</key>
    <string>uni254A_.glif</string>
    <key>uni254B</key>
    <string>uni254B_.glif</string>
    <key>uni254C</key>
    <string>uni254C_.glif</string>
    <key>uni254D</key>
    <string>uni254D_.glif</string>
    <key>uni254E</key>
    <string>uni254E_.glif</string>
    <key>uni254F</key>
    <string>uni254F_.glif</string>
    <key>uni2550</key>
    <string>uni2550.glif</string>
    <key>uni2551</key>
    <string>uni2551.glif</string>
    <key>uni2552</key>
    <string>uni2552.glif</string>
    <key>uni2553</key>
    <string>uni2553.glif</string>
    <key>uni2554</key>
    <string>uni2554.glif</string>
    <key>uni2555</key>
    <string>uni2555.glif</string>
    <key>uni2556</key>
    <string>uni2556.glif</string>
    <key>uni2557</key>
    <string>uni2557.glif</string>
    <key>uni2558</key>
    <string>uni2558.glif</string>
    <key>uni2559</key>
    <string>uni2559.glif</string>
    <key>uni255A</key>
    <string>uni255A_.glif</string>
    <key>uni255B</key>
    <string>uni255B_.glif</string>
    <key>uni255C</key>
    <string>uni255C_.glif</string>
    <key>uni255D</key>
    <string>uni255D_.glif</string>
    <key>uni255E</key>
    <string>uni255E_.glif</string>
    <key>uni255F</key>
    <string>uni255F_.glif</string>
    <key>uni2560</key>
    <string>uni2560.glif</string>
    <key>uni2561</key>
    <string>uni2561.glif</string>
    <key>uni2562</key>
    <string>uni2562.glif</string>
    <key>uni2563</key>
    <string>uni2563.glif</string>
    <key>uni2564</key>
    <string>uni2564.glif</string>
    <key>uni2565</key>
    <string>uni2565.glif</string>
    <key>uni2566</key>
    <string>uni2566.glif</string>
    <key>uni2567</key>
    <string>uni2567.glif</string>
    <key>uni2568</key>
    <string>uni2568.glif</string>
    <key>uni2569</key>
    <string>uni2569.glif</string>
    <key>uni256A</key>
    <string>uni256A_.glif</string>
    <key>uni256B</key>
    <string>uni256B_.glif</string>
    <key>uni256C</key>
    <string>uni256C_.glif</string>
    <key>uni256D</key>
    <string>uni256D_.glif</string>
    <key>uni256E</key>
    <string>uni256E_.glif</string>
    <key>uni256F</key>
    <string>uni256F_.glif</string>
    <key>uni2570</key>
    <string>uni2570.glif</string>
    <key>uni2571</key>
    <string>uni2571.glif</string>
    <key>uni2572</key>
    <string>uni2572.glif</string>
    <key>uni2573</key>
    <string>uni2573.glif</string>
    <key>uni2574</key>
    <string>uni2574.glif</string>
    <key>uni2575</key>
    <string>uni2575.glif</string>
    <key>uni2576</key>
    <string>uni2576.glif</string>
    <key>uni2577</key>
    <string>uni2577.glif</string>
    <key>uni2578</key>
    <string>uni2578.glif</string>
    <key>uni2579</key>
    <string>uni2579.glif</string>
    <key>uni257A</key>
    <string>uni257A_.glif</string>
    <key>uni257B</key>
    <string>uni257B_.glif</string>
    <key>uni257C</key>
    <string>uni257C_.glif</string>
    <key>uni257D</key>
    <string>uni257D_.glif</string>
    <key>uni257E</key>
    <string>uni257E_.glif</string>
    <key>uni257F</key>
    <string>uni257F_.glif</string>
    <key>uni2580</key>
    <string>uni2580.glif</string>
    <key>uni2581</key>
    <string>uni2581.glif</string>
    <key>uni2582</key>
    <string>uni2582.glif</string>
    <key>uni2583</key>
    <string>uni2583.glif</string>
    <key>uni2584</key>
    <string>uni2584.glif</string>
    <key>uni2585</key>
    <string>uni2585.glif</string>
    <key>uni2586</key>
    <string>uni2586.glif</string>
    <key>uni2587</key>
    <string>uni2587.glif</string>
    <key>uni2588</key>
    <string>uni2588.glif</string>
    <key>uni2589</key>
    <string>uni2589.glif</string>
    <key>uni258A</key>
    <string>uni258A_.glif</string>
    <key>uni258B</key>
    <string>uni258B_.glif</string>
    <key>uni258C</key>
    <string>uni258C_.glif</string>
    <key>uni258D</key>
    <string>uni258D_.glif</string>
    <key>uni258E</key>
    <string>uni258E_.glif</string>
    <key>uni258F</key>
    <string>uni258F_.glif</string>
    <key>uni2590</key>
    <string>uni2590.glif</string>
    <key>uni2591</key>
    <string>uni2591.glif</string>
    <key>uni2592</key>
    <string>uni2592.glif</string>
    <key>uni2593</key>
    <string>uni2593.glif</string>
    <key>uni2596</key>
    <string>uni2596.glif</string>
    <key>uni2597</key>
    <string>uni2597.glif</string>
    <key>uni2598</key>
    <string>uni2598.glif</string>
    <key>uni2599</key>
    <string>uni2599.glif</string>
    <key>uni259A</key>
    <string>uni259A_.glif</string>
    <key>uni259B</key>
    <string>uni259B_.glif</string>
    <key>uni259C</key>
    <string>uni259C_.glif</string>
    <key>uni259D</key>
    <string>uni259D_.glif</string>
    <key>uni259E</key>
    <string>uni259E_.glif</string>
    <key>uni259F</key>
    <string>uni259F_.glif</string>
    <key>uni25A0</key>
    <string>uni25A_0.glif</string>
    <key>uni25A1</key>
    <string>uni25A_1.glif</string>
    <key>uni25B2</key>
    <string>uni25B_2.glif</string>
    <key>uni25BC</key>
    <string>uni25B_C_.glif</string>
    <key>uni25C6</key>
    <string>uni25C_6.glif</string>
    <key>uni25CF</key>
    <string>uni25C_F_.glif</string>
    <key>uni2713</key>
    <string>uni2713.glif</string>
    <key>uni2717</key>
    <string>uni2717.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>uring</key>
    <string>uring.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w.narrow1</key>
    <string>w.narrow1.glif</string>
    <key>wacute</key>
    <string>wacute.glif</string>
    <key>wcircumflex</key>
    <string>wcircumflex.glif</string>
    <key>wdieresis</key>
    <string>wdieresis.glif</string>
    <key>wgrave</key>
    <string>wgrave.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>ycircumflex</key>
    <string>ycircumflex.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>ygrave</key>
    <string>ygrave.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zacute</key>
    <string>zacute.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>zdotaccent</key>
    <string>zdotaccent.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.slash</key>
    <string>zero.slash.glif</string>
  </dict>
</plist>
