<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>uni01CD</string>
      <string>uni1EA0</string>
      <string>uni1EA2</string>
      <string>uni1EA4</string>
      <string>uni1EA6</string>
      <string>uni1EA8</string>
      <string>uni1EAA</string>
      <string>uni1EAC</string>
      <string>uni1EAE</string>
      <string>uni1EB0</string>
      <string>uni1EB2</string>
      <string>uni1EB4</string>
      <string>uni1EB6</string>
    </array>
    <key>public.kern1.FP</key>
    <array>
      <string>F</string>
      <string>P</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>Kcedilla</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcedilla</string>
      <string>Ldotaccent</string>
    </array>
    <key>public.kern1.OC</key>
    <array>
      <string>C</string>
      <string>D</string>
      <string>G</string>
      <string>O</string>
      <string>Q</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Cdotaccent</string>
      <string>Dcaron</string>
      <string>Gbreve</string>
      <string>Gcaron</string>
      <string>Gcedilla</string>
      <string>Gdotaccent</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odblacute</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Otilde</string>
      <string>copyright</string>
      <string>Ohorn</string>
      <string>Ccircumflex</string>
      <string>Gcircumflex</string>
      <string>Omacron</string>
      <string>Obreve</string>
      <string>uni01D1</string>
      <string>uni1ECC</string>
      <string>uni1ECE</string>
      <string>uni1ED0</string>
      <string>uni1ED2</string>
      <string>uni1ED4</string>
      <string>uni1ED6</string>
      <string>uni1ED8</string>
      <string>uni1EDA</string>
      <string>uni1EDC</string>
      <string>uni1EDE</string>
      <string>uni1EE0</string>
      <string>uni1EE2</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>registered</string>
      <string>rupee</string>
      <string>Rcommaaccent</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Tbar</string>
    </array>
    <key>public.kern1.VWY</key>
    <array>
      <string>V</string>
      <string>W</string>
      <string>Y</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>uni1EF4</string>
      <string>uni1EF6</string>
      <string>uni1EF8</string>
    </array>
    <key>public.kern1.quote</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quotedblleft</string>
      <string>quotesingle</string>
      <string>quotedbl</string>
      <string>uni02BB</string>
      <string>uni02BC</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern1.seven</key>
    <array>
      <string>seven</string>
      <string>seven.onum</string>
      <string>seveninferior</string>
      <string>sevensuperior</string>
    </array>
    <key>public.kern1.vwy</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>y</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>uni1EF5</string>
      <string>uni1EF7</string>
      <string>uni1EF9</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>uni01CD</string>
      <string>uni1EA0</string>
      <string>uni1EA2</string>
      <string>uni1EA4</string>
      <string>uni1EA6</string>
      <string>uni1EA8</string>
      <string>uni1EAA</string>
      <string>uni1EAC</string>
      <string>uni1EAE</string>
      <string>uni1EB0</string>
      <string>uni1EB2</string>
      <string>uni1EB4</string>
      <string>uni1EB6</string>
    </array>
    <key>public.kern2.Round</key>
    <array>
      <string>C</string>
      <string>G</string>
      <string>O</string>
      <string>Q</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Cdotaccent</string>
      <string>Gbreve</string>
      <string>Gcaron</string>
      <string>Gcedilla</string>
      <string>Gdotaccent</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odblacute</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Otilde</string>
      <string>copyright</string>
      <string>Ohorn</string>
      <string>Ccircumflex</string>
      <string>Gcircumflex</string>
      <string>Omacron</string>
      <string>Obreve</string>
      <string>uni01D1</string>
      <string>uni1ECC</string>
      <string>uni1ECE</string>
      <string>uni1ED0</string>
      <string>uni1ED2</string>
      <string>uni1ED4</string>
      <string>uni1ED6</string>
      <string>uni1ED8</string>
      <string>uni1EDA</string>
      <string>uni1EDC</string>
      <string>uni1EDE</string>
      <string>uni1EE0</string>
      <string>uni1EE2</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Tbar</string>
    </array>
    <key>public.kern2.VWY</key>
    <array>
      <string>V</string>
      <string>W</string>
      <string>Y</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>uni1EF4</string>
      <string>uni1EF6</string>
      <string>uni1EF8</string>
    </array>
    <key>public.kern2.lowstem</key>
    <array>
      <string>i</string>
      <string>m</string>
      <string>n</string>
      <string>p</string>
      <string>r</string>
      <string>u</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncedilla</string>
      <string>ntilde</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udblacute</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>uhorn</string>
      <string>itilde</string>
      <string>ibreve</string>
      <string>rcommaaccent</string>
      <string>utilde</string>
      <string>ubreve</string>
      <string>ij</string>
      <string>eng</string>
      <string>uni01D0</string>
      <string>uni01D4</string>
      <string>uni01D6</string>
      <string>uni01D8</string>
      <string>uni01DA</string>
      <string>uni01DC</string>
      <string>uni01F9</string>
      <string>uni1E3F</string>
      <string>uni1E45</string>
      <string>uni1EC9</string>
      <string>uni1ECB</string>
      <string>uni1EE5</string>
      <string>uni1EE7</string>
      <string>uni1EE9</string>
      <string>uni1EEB</string>
      <string>uni1EED</string>
      <string>uni1EEF</string>
      <string>uni1EF1</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern2.quote</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quotedblleft</string>
      <string>quotesingle</string>
      <string>quotedbl</string>
      <string>uni02BB</string>
      <string>uni02BC</string>
    </array>
    <key>public.kern2.round</key>
    <array>
      <string>a</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>g</string>
      <string>o</string>
      <string>q</string>
      <string>s</string>
      <string>a.ss01</string>
      <string>aacute</string>
      <string>aacute.ss01</string>
      <string>abreve</string>
      <string>abreve.ss01</string>
      <string>acircumflex</string>
      <string>acircumflex.ss01</string>
      <string>adieresis</string>
      <string>adieresis.ss01</string>
      <string>agrave</string>
      <string>agrave.ss01</string>
      <string>amacron</string>
      <string>amacron.ss01</string>
      <string>aogonek</string>
      <string>aogonek.ss01</string>
      <string>aring</string>
      <string>aring.ss01</string>
      <string>atilde</string>
      <string>atilde.ss01</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>cdotaccent</string>
      <string>dcaron</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>gbreve</string>
      <string>gcaron</string>
      <string>gcedilla</string>
      <string>gdotaccent</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odblacute</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>otilde</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scommaaccent</string>
      <string>uni1EA1.ss01</string>
      <string>uni1EA3.ss01</string>
      <string>uni1EA5.ss01</string>
      <string>uni1EA7.ss01</string>
      <string>uni1EA9.ss01</string>
      <string>uni1EAB.ss01</string>
      <string>uni1EAD.ss01</string>
      <string>uni1EAF.ss01</string>
      <string>uni1EB1.ss01</string>
      <string>uni1EB3.ss01</string>
      <string>uni1EB5.ss01</string>
      <string>uni1EB7.ss01</string>
      <string>ohorn</string>
      <string>ccircumflex</string>
      <string>ebreve</string>
      <string>gcircumflex</string>
      <string>omacron</string>
      <string>obreve</string>
      <string>scircumflex</string>
      <string>longs</string>
      <string>uni01CE</string>
      <string>uni01D2</string>
      <string>uni1E63</string>
      <string>uni1EA1</string>
      <string>uni1EA3</string>
      <string>uni1EA5</string>
      <string>uni1EA7</string>
      <string>uni1EA9</string>
      <string>uni1EAB</string>
      <string>uni1EAD</string>
      <string>uni1EAF</string>
      <string>uni1EB1</string>
      <string>uni1EB3</string>
      <string>uni1EB5</string>
      <string>uni1EB7</string>
      <string>uni1EB9</string>
      <string>uni1EBB</string>
      <string>uni1EBD</string>
      <string>uni1EBF</string>
      <string>uni1EC1</string>
      <string>uni1EC3</string>
      <string>uni1EC5</string>
      <string>uni1EC7</string>
      <string>uni1ECD</string>
      <string>uni1ECF</string>
      <string>uni1ED1</string>
      <string>uni1ED3</string>
      <string>uni1ED5</string>
      <string>uni1ED7</string>
      <string>uni1ED9</string>
      <string>uni1EDB</string>
      <string>uni1EDD</string>
      <string>uni1EDF</string>
      <string>uni1EE1</string>
      <string>uni1EE3</string>
      <string>uni01CE.ss01</string>
    </array>
    <key>public.kern2.vwy</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>y</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>uni1EF5</string>
      <string>uni1EF7</string>
      <string>uni1EF9</string>
    </array>
  </dict>
</plist>
