<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>space</string>
      <string>H</string>
      <string>a</string>
      <string>n</string>
      <string>o</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>exclam</string>
      <string>question</string>
      <string>hyphen</string>
      <string>underscore</string>
      <string>slash</string>
      <string>backslash</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>grave</string>
      <string>acute</string>
      <string>at</string>
      <string>numbersign</string>
      <string>dollar</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>equal</string>
      <string>less</string>
      <string>greater</string>
      <string>bar</string>
      <string>asciitilde</string>
      <string>asciicircum</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>circumflexcomb</string>
      <string>tildecomb</string>
      <string>macroncomb</string>
      <string>brevecomb</string>
      <string>dotaccentcomb</string>
      <string>dieresiscomb</string>
      <string>ringcomb</string>
      <string>hungarumlautcomb</string>
      <string>caroncomb</string>
      <string>commaaccentcomb</string>
      <string>cedillacomb</string>
      <string>ogonekcomb</string>
      <string>dieresis</string>
      <string>macron</string>
      <string>breve</string>
      <string>dotaccent</string>
      <string>ring</string>
      <string>hungarumlaut</string>
      <string>caron</string>
      <string>circumflex</string>
      <string>tilde</string>
      <string>cedilla</string>
      <string>ogonek</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Aring</string>
      <string>Ccedilla</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Ntilde</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Yacute</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
      <string>ccedilla</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>ntilde</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>yacute</string>
      <string>ydieresis</string>
      <string>Amacron</string>
      <string>amacron</string>
      <string>Abreve</string>
      <string>abreve</string>
      <string>Aogonek</string>
      <string>aogonek</string>
      <string>Cacute</string>
      <string>cacute</string>
      <string>Ccaron</string>
      <string>ccaron</string>
      <string>Emacron</string>
      <string>emacron</string>
      <string>Eogonek</string>
      <string>eogonek</string>
      <string>Ecaron</string>
      <string>ecaron</string>
      <string>Nacute</string>
      <string>nacute</string>
      <string>Ncaron</string>
      <string>ncaron</string>
      <string>Odblacute</string>
      <string>odblacute</string>
      <string>Racute</string>
      <string>racute</string>
      <string>Rcaron</string>
      <string>rcaron</string>
      <string>Sacute</string>
      <string>sacute</string>
      <string>Scaron</string>
      <string>scaron</string>
      <string>Tcaron</string>
      <string>tcaron</string>
      <string>Umacron</string>
      <string>umacron</string>
      <string>Uring</string>
      <string>uring</string>
      <string>Udblacute</string>
      <string>udblacute</string>
      <string>Uogonek</string>
      <string>uogonek</string>
      <string>Zcacute</string>
      <string>zacute</string>
      <string>Zdotaccent</string>
      <string>zdotaccent</string>
      <string>Zcaron</string>
      <string>zcaron</string>
      <string>Scommaaccent</string>
      <string>scommaaccent</string>
      <string>Tcommaaccent</string>
      <string>tcommaaccent</string>
      <string>nbspace</string>
      <string>exclamdown</string>
      <string>questiondown</string>
      <string>guillemotleft</string>
      <string>guillemotright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>periodcentered</string>
      <string>section</string>
      <string>copyright</string>
      <string>registered</string>
      <string>degree</string>
      <string>paragraph</string>
      <string>multiply</string>
      <string>divide</string>
      <string>bullet</string>
      <string>ellipsis</string>
      <string>endash</string>
      <string>emdash</string>
      <string>minus</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesinglbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quotedblbase</string>
      <string>trademark</string>
      <string>Euro</string>
      <string>cent</string>
      <string>sterling</string>
      <string>yen</string>
      <string>rupee</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>AE</string>
      <string>ae</string>
      <string>OE</string>
      <string>oe</string>
      <string>Eth</string>
      <string>eth</string>
      <string>Thorn</string>
      <string>thorn</string>
      <string>germandbls</string>
      <string>uni1E9E</string>
      <string>Oslash</string>
      <string>oslash</string>
      <string>Lslash</string>
      <string>lslash</string>
      <string>Dcroat</string>
      <string>dcroat</string>
      <string>Hbar</string>
      <string>hbar</string>
      <string>dotlessi</string>
      <string>uni0237</string>
      <string>Idotaccent</string>
      <string>Cdotaccent</string>
      <string>cdotaccent</string>
      <string>Edotaccent</string>
      <string>edotaccent</string>
      <string>Gdotaccent</string>
      <string>gdotaccent</string>
      <string>Dcaron</string>
      <string>dcaron</string>
      <string>Gcaron</string>
      <string>Gbreve</string>
      <string>gbreve</string>
      <string>Gcedilla</string>
      <string>gcedilla</string>
      <string>Kcedilla</string>
      <string>kcedilla</string>
      <string>Lcedilla</string>
      <string>lcedilla</string>
      <string>Ncedilla</string>
      <string>ncedilla</string>
      <string>Scedilla</string>
      <string>scedilla</string>
      <string>Lacute</string>
      <string>lacute</string>
      <string>Lcaron</string>
      <string>lcaron</string>
      <string>Imacron</string>
      <string>imacron</string>
      <string>Iogonek</string>
      <string>iogonek</string>
      <string>Wcircumflex</string>
      <string>wcircumflex</string>
      <string>Ycircumflex</string>
      <string>ycircumflex</string>
      <string>Ydieresis</string>
      <string>Wgrave</string>
      <string>wgrave</string>
      <string>Ygrave</string>
      <string>ygrave</string>
      <string>Wacute</string>
      <string>wacute</string>
      <string>Wdieresis</string>
      <string>wdieresis</string>
      <string>uni2500</string>
      <string>uni2501</string>
      <string>uni2502</string>
      <string>uni2503</string>
      <string>uni250C</string>
      <string>uni250D</string>
      <string>uni250E</string>
      <string>uni250F</string>
      <string>uni2510</string>
      <string>uni2511</string>
      <string>uni2512</string>
      <string>uni2513</string>
      <string>uni2514</string>
      <string>uni2515</string>
      <string>uni2516</string>
      <string>uni2517</string>
      <string>uni2518</string>
      <string>uni2519</string>
      <string>uni251A</string>
      <string>uni251B</string>
      <string>uni251C</string>
      <string>uni251D</string>
      <string>uni251E</string>
      <string>uni251F</string>
      <string>uni2520</string>
      <string>uni2521</string>
      <string>uni2522</string>
      <string>uni2523</string>
      <string>uni2524</string>
      <string>uni2525</string>
      <string>uni2526</string>
      <string>uni2527</string>
      <string>uni2528</string>
      <string>uni2529</string>
      <string>uni252A</string>
      <string>uni252B</string>
      <string>uni252C</string>
      <string>uni252D</string>
      <string>uni252E</string>
      <string>uni252F</string>
      <string>uni2530</string>
      <string>uni2531</string>
      <string>uni2532</string>
      <string>uni2533</string>
      <string>uni2534</string>
      <string>uni2535</string>
      <string>uni2536</string>
      <string>uni2537</string>
      <string>uni2538</string>
      <string>uni2539</string>
      <string>uni253A</string>
      <string>uni253B</string>
      <string>uni253C</string>
      <string>uni253D</string>
      <string>uni253E</string>
      <string>uni253F</string>
      <string>uni2540</string>
      <string>uni2541</string>
      <string>uni2542</string>
      <string>uni2543</string>
      <string>uni2544</string>
      <string>uni2545</string>
      <string>uni2546</string>
      <string>uni2547</string>
      <string>uni2548</string>
      <string>uni2549</string>
      <string>uni254A</string>
      <string>uni254B</string>
      <string>uni254C</string>
      <string>uni254D</string>
      <string>uni254E</string>
      <string>uni254F</string>
      <string>uni2550</string>
      <string>uni2551</string>
      <string>uni2552</string>
      <string>uni2553</string>
      <string>uni2554</string>
      <string>uni2555</string>
      <string>uni2556</string>
      <string>uni2557</string>
      <string>uni2558</string>
      <string>uni2559</string>
      <string>uni255A</string>
      <string>uni255B</string>
      <string>uni255C</string>
      <string>uni255D</string>
      <string>uni255E</string>
      <string>uni255F</string>
      <string>uni2560</string>
      <string>uni2561</string>
      <string>uni2562</string>
      <string>uni2563</string>
      <string>uni2564</string>
      <string>uni2565</string>
      <string>uni2566</string>
      <string>uni2567</string>
      <string>uni2568</string>
      <string>uni2569</string>
      <string>uni256A</string>
      <string>uni256B</string>
      <string>uni256C</string>
      <string>uni256D</string>
      <string>uni256E</string>
      <string>uni256F</string>
      <string>uni2570</string>
      <string>uni2571</string>
      <string>uni2572</string>
      <string>uni2573</string>
      <string>uni2574</string>
      <string>uni2575</string>
      <string>uni2576</string>
      <string>uni2577</string>
      <string>uni2578</string>
      <string>uni2579</string>
      <string>uni257A</string>
      <string>uni257B</string>
      <string>uni257C</string>
      <string>uni257D</string>
      <string>uni257E</string>
      <string>uni257F</string>
      <string>uni2588</string>
      <string>uni2580</string>
      <string>uni2584</string>
      <string>uni258C</string>
      <string>uni2590</string>
      <string>uni2591</string>
      <string>uni2592</string>
      <string>uni2593</string>
      <string>uni2581</string>
      <string>uni2582</string>
      <string>uni2583</string>
      <string>uni2585</string>
      <string>uni2586</string>
      <string>uni2587</string>
      <string>uni2589</string>
      <string>uni258A</string>
      <string>uni258B</string>
      <string>uni258D</string>
      <string>uni258E</string>
      <string>uni258F</string>
      <string>uni2596</string>
      <string>uni2597</string>
      <string>uni2598</string>
      <string>uni2599</string>
      <string>uni259A</string>
      <string>uni259B</string>
      <string>uni259C</string>
      <string>uni259D</string>
      <string>uni259E</string>
      <string>uni259F</string>
      <string>uni25A0</string>
      <string>uni25A1</string>
      <string>uni25B2</string>
      <string>uni25BC</string>
      <string>uni25C6</string>
      <string>uni25CF</string>
      <string>uni2713</string>
      <string>uni2717</string>
      <string>uni2190</string>
      <string>uni2191</string>
      <string>uni2192</string>
      <string>uni2193</string>
      <string>uni2194</string>
      <string>uni2195</string>
      <string>uni21D0</string>
      <string>uni21D2</string>
      <string>uni21D4</string>
      <string>i.wide1</string>
      <string>i.wide2</string>
      <string>j.wide1</string>
      <string>j.wide2</string>
      <string>l.wide1</string>
      <string>l.wide2</string>
      <string>t.wide1</string>
      <string>t.wide2</string>
      <string>f.wide1</string>
      <string>f.wide2</string>
      <string>r.wide1</string>
      <string>r.wide2</string>
      <string>I.wide1</string>
      <string>I.wide2</string>
      <string>one.wide1</string>
      <string>one.wide2</string>
      <string>period.wide1</string>
      <string>period.wide2</string>
      <string>comma.wide1</string>
      <string>comma.wide2</string>
      <string>semicolon.wide1</string>
      <string>semicolon.wide2</string>
      <string>colon.wide1</string>
      <string>colon.wide2</string>
      <string>quotesingle.wide1</string>
      <string>quotesingle.wide2</string>
      <string>quotedbl.wide1</string>
      <string>quotedbl.wide2</string>
      <string>grave.wide1</string>
      <string>grave.wide2</string>
      <string>exclam.wide1</string>
      <string>exclam.wide2</string>
      <string>bar.wide1</string>
      <string>bar.wide2</string>
      <string>parenleft.wide1</string>
      <string>parenleft.wide2</string>
      <string>parenright.wide1</string>
      <string>parenright.wide2</string>
      <string>bracketleft.wide1</string>
      <string>bracketleft.wide2</string>
      <string>bracketright.wide1</string>
      <string>bracketright.wide2</string>
      <string>braceleft.wide1</string>
      <string>braceleft.wide2</string>
      <string>braceright.wide1</string>
      <string>braceright.wide2</string>
      <string>slash.wide1</string>
      <string>slash.wide2</string>
      <string>backslash.wide1</string>
      <string>backslash.wide2</string>
      <string>m.narrow1</string>
      <string>w.narrow1</string>
      <string>M.narrow1</string>
      <string>W.narrow1</string>
      <string>at.narrow1</string>
      <string>percent.narrow1</string>
      <string>ampersand.narrow1</string>
      <string>hyphen.nolig</string>
      <string>arrowdblright</string>
      <string>arrowright_eq</string>
      <string>arrowleft_eq</string>
      <string>greaterequal_lig</string>
      <string>arrowleftright</string>
      <string>bar_greater</string>
      <string>less_bar</string>
      <string>notequal</string>
      <string>notequal_strict</string>
      <string>equal_equal</string>
      <string>equal_strict</string>
      <string>coloncolon</string>
      <string>coloncolon_eq</string>
      <string>slashslash</string>
      <string>slashasterisk</string>
      <string>asteriskslash</string>
      <string>asteriskasterisk</string>
      <string>barbar</string>
      <string>ampersandampersand</string>
      <string>zero.slash</string>
    </array>
    <key>public.postscriptNames</key>
    <dict/>
  </dict>
</plist>
