<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
    </array>
    <key>public.kern1.FP</key>
    <array>
      <string>F</string>
      <string>P</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>Kcedilla</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcedilla</string>
      <string>Ldotaccent</string>
    </array>
    <key>public.kern1.OC</key>
    <array>
      <string>C</string>
      <string>D</string>
      <string>G</string>
      <string>O</string>
      <string>Q</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Cdotaccent</string>
      <string>Dcaron</string>
      <string>Gbreve</string>
      <string>Gcaron</string>
      <string>Gcedilla</string>
      <string>Gdotaccent</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odblacute</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Otilde</string>
      <string>copyright</string>
      <string>Ohorn</string>
      <string>Ccircumflex</string>
      <string>Gcircumflex</string>
      <string>Omacron</string>
      <string>Obreve</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>registered</string>
      <string>Rcommaaccent</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Tbar</string>
    </array>
    <key>public.kern1.VWY</key>
    <array>
      <string>V</string>
      <string>W</string>
      <string>Y</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
    </array>
    <key>public.kern1.quote</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quotedblleft</string>
      <string>quotesingle</string>
      <string>quotedbl</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern1.seven</key>
    <array>
      <string>seven</string>
      <string>seven.onum</string>
    </array>
    <key>public.kern1.vwy</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>y</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
    </array>
    <key>public.kern2.Round</key>
    <array>
      <string>C</string>
      <string>G</string>
      <string>O</string>
      <string>Q</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Cdotaccent</string>
      <string>Gbreve</string>
      <string>Gcaron</string>
      <string>Gcedilla</string>
      <string>Gdotaccent</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odblacute</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Otilde</string>
      <string>copyright</string>
      <string>Ohorn</string>
      <string>Ccircumflex</string>
      <string>Gcircumflex</string>
      <string>Omacron</string>
      <string>Obreve</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Tbar</string>
    </array>
    <key>public.kern2.VWY</key>
    <array>
      <string>V</string>
      <string>W</string>
      <string>Y</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
    </array>
    <key>public.kern2.lowstem</key>
    <array>
      <string>i</string>
      <string>m</string>
      <string>n</string>
      <string>p</string>
      <string>r</string>
      <string>u</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncedilla</string>
      <string>ntilde</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udblacute</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>uhorn</string>
      <string>itilde</string>
      <string>ibreve</string>
      <string>rcommaaccent</string>
      <string>utilde</string>
      <string>ubreve</string>
      <string>ij</string>
      <string>eng</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern2.quote</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quotedblleft</string>
      <string>quotesingle</string>
      <string>quotedbl</string>
    </array>
    <key>public.kern2.round</key>
    <array>
      <string>a</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>g</string>
      <string>o</string>
      <string>q</string>
      <string>s</string>
      <string>a.ss01</string>
      <string>aacute</string>
      <string>aacute.ss01</string>
      <string>abreve</string>
      <string>abreve.ss01</string>
      <string>acircumflex</string>
      <string>acircumflex.ss01</string>
      <string>adieresis</string>
      <string>adieresis.ss01</string>
      <string>agrave</string>
      <string>agrave.ss01</string>
      <string>amacron</string>
      <string>amacron.ss01</string>
      <string>aogonek</string>
      <string>aogonek.ss01</string>
      <string>aring</string>
      <string>aring.ss01</string>
      <string>atilde</string>
      <string>atilde.ss01</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>cdotaccent</string>
      <string>dcaron</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>gbreve</string>
      <string>gcedilla</string>
      <string>gdotaccent</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odblacute</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>otilde</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scommaaccent</string>
      <string>ohorn</string>
      <string>ccircumflex</string>
      <string>ebreve</string>
      <string>gcircumflex</string>
      <string>omacron</string>
      <string>obreve</string>
      <string>scircumflex</string>
      <string>longs</string>
    </array>
    <key>public.kern2.vwy</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>y</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
    </array>
  </dict>
</plist>
