<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>f</key>
    <dict>
      <key>i</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.VWY</key>
      <integer>-55</integer>
    </dict>
    <key>public.kern1.FP</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.period</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.VWY</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.a</key>
      <integer>-70</integer>
      <key>public.kern2.period</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.VWY</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-55</integer>
      <key>public.kern2.a</key>
      <integer>-50</integer>
      <key>public.kern2.period</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.quote</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-55</integer>
    </dict>
  </dict>
</plist>
